<ng4-loading-spinner></ng4-loading-spinner>
<body class="bg-light">

<div>
  <h1 align="center">Groups </h1>
</div>
<div>
  <button *ngIf="!timetable" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
          (click)="_openModal(template)">
    Create group
  </button>
  <mat-radio-group *ngIf="timetable" class="example-radio-group" [(ngModel)]="tChange">
    <mat-radio-button class="example-radio-button"  [value]="false">

      <a> <img src="https://image.flaticon.com/icons/svg/1142/1142015.svg"></a>
    </mat-radio-button>
    <mat-radio-button class="example-radio-button"   [value]="true">
      <a> <img src="https://image.flaticon.com/icons/svg/25/25617.svg"></a>

    </mat-radio-button>
  </mat-radio-group>

  <span><input type="text" [(ngModel)]="search" (keyup)="k()"   class="form-control"  placeholder="Search group"></span>


</div>
<main class="container" *ngIf="groups">
  <div class="my-3 p-3 bg-white rounded shadow-sm">

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th scope="col"><p class="text-info">Id</p></th>
        <th scope="col"><p class="text-info">Group</p></th>

      </tr>
      </thead>
      <tbody *ngIf="groups">
      <tr *ngFor="let group of groups">
        <td width="5%">{{group.id}}</td>
        <td>

          <accordion *ngIf="!timetable">
            <accordion-group heading="{{group.name}}">
              <app-group-content [groupNumber]="group.id"></app-group-content>
            </accordion-group>

          </accordion>

          <accordion *ngIf="timetable">
            <accordion-group heading="{{group.name}}">
              <app-timetable-info  [groupNumber]="group.id" [tChange]="tChange" [slots]="slots"></app-timetable-info>
            </accordion-group>

          </accordion>
          </td>
      </tr>
      </tbody>

    </table>
    <pagination [hidden]="paghide" *ngIf="groups " [totalItems]="groupNumber"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
  <!--<app-go-back></app-go-back>-->
</main>

</body>
<!--<div class="row">
  <div class="col-xs-12 col-12">
    <div class="content-wrapper">
      <p class="content-item" *ngFor="let content of returnedArray">{{content.name}}</p>
    </div>
    <pagination [totalItems]="groups.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Group</label>
      <input type="text" class="form-control" id="extra7" placeholder="7-8 character only"
             [(ngModel)]="editableGroup.name" #name="ngModel"
             required pattern="\d [0-9]{7,8}"/>
      <div [hidden]="alertGroup" class="alert alert-danger">
        7-8 numbers please <!--Easy way to create client validation-->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addGroup(name)"
    >{{"Create"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>




