<ng4-loading-spinner></ng4-loading-spinner>
<body class="bg-light">

<div>
  <h1 align="center">Groups </h1>
</div>
<main class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">

    <table class="table table-bordered table-striped">
      <thead>

      </thead>
      <tbody>
      <tr *ngFor="let content of returnedArray">
        <td width="5%">{{content.id}}</td>
        <td>

          <accordion *ngIf="!timetable">
            <accordion-group heading="{{content.name}}">
              <app-group-content [groupNumber]="content.id"></app-group-content>
            </accordion-group>

          </accordion>



          <accordion *ngIf="timetable">
            <accordion-group heading="{{content.name}}">
              <app-timetable-info [groupNumber]="content.id"></app-timetable-info>
            </accordion-group>

          </accordion>
          <!--<p class="lead text-center"   *ngIf="!timetable" routerLink="/groupContent/{{group.id}}">{{group.name}}</p>-->
          <!--<p class="lead text-center" *ngIf="timetable" routerLink="/timetableinfo/{{group.id}}">{{group.name}}</p>-->
        </td>
      </tr>



      </tbody>
    </table>
    <pagination [totalItems]="groups.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>
  <!--<app-go-back></app-go-back>-->
</main>

</body>
<!--<div class="row">
  <div class="col-xs-12 col-12">
    <div class="content-wrapper">
      <p class="content-item" *ngFor="let content of returnedArray">{{content.name}}</p>
    </div>
    <pagination [totalItems]="groups.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>-->





