<ng4-loading-spinner></ng4-loading-spinner>
<body class="bg-light">

<div>
  <h1 align="center">Groups </h1>
</div>
<button *ngIf="!timetable" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
        (click)="_openModal(template)">
  Create group
</button>
<main class="container" *ngIf="groups">
  <div class="my-3 p-3 bg-white rounded shadow-sm">

    <table class="table table-bordered table-striped">
      <thead>

      </thead>
      <tbody>
      <tr *ngFor="let group of groups">
        <td width="5%">{{group.id}}</td>
        <td>

          <accordion *ngIf="!timetable">
            <accordion-group heading="{{group.name}}">
              <app-group-content [groupNumber]="group.id"></app-group-content>
            </accordion-group>

          </accordion>



          <accordion *ngIf="timetable">
            <accordion-group heading="{{group.name}}">
              <app-timetable-info [groupNumber]="group.id" [slots]="slots"></app-timetable-info>
            </accordion-group>

          </accordion>
          <!--<p class="lead text-center"   *ngIf="!timetable" routerLink="/groupContent/{{group.id}}">{{group.name}}</p>-->
          <!--<p class="lead text-center" *ngIf="timetable" routerLink="/timetableinfo/{{group.id}}">{{group.name}}</p>-->
        </td>
      </tr>



      </tbody>
    </table>
    <pagination *ngIf="groups" [totalItems]="groupNumber"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged(currentPage)"></pagination>
  </div>
  <!--<app-go-back></app-go-back>-->
</main>

</body>
<!--<div class="row">
  <div class="col-xs-12 col-12">
    <div class="content-wrapper">
      <p class="content-item" *ngFor="let content of returnedArray">{{content.name}}</p>
    </div>
    <pagination [totalItems]="groups.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Group</label>
      <input type="number" class="form-control" id="extra7" placeholder="8 character only" [(ngModel)]="editableGroup.name" #name="ngModel"
             required pattern="\d [0-9]{2,8}"/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        8 numbers pls <!--Easy way to create client validation-->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addGroup(name)"
    >{{"Create"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>




