<ul class="nav justify-content-end  bg-light">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/pupil">Pupil's name</a>
  </li>
  <!--<li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>-->
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="/signin">Exit</a>
  </li>
</ul>
<div>
  <h1>{{teacher.name}}  {{teacher.surname}}</h1>
</div>
<table class="table">
  <app-table-teacher [day]="Monday"></app-table-teacher>
  <app-table-teacher [day]="Tuesday"></app-table-teacher>
  <app-table-teacher [day]="Wednesday"></app-table-teacher>
  <app-table-teacher [day]="Thursday"></app-table-teacher>
  <app-table-teacher [day]="Friday"></app-table-teacher>
  <app-table-teacher [day]="Saturday"></app-table-teacher>
  <app-table-teacher [day]="Sunday"></app-table-teacher>


</table>
<app-go-back></app-go-back>



