<body class="bg-light">
<!--<ul class="nav justify-content-end  bg-light">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/pupil">Pupil's name</a>
  </li>
  &lt;!&ndash;<li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>&ndash;&gt;
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="/signin">Exit</a>
  </li>
</ul>-->
<!--<div>
  <p class="lead text-center" >{{teacher.name}}  {{teacher.surname}}</p>
</div>-->
<main class="container-fluid">
  <div class="my-3 p-3 bg-white rounded shadow-sm">

    <table class="table table-sm">

      <accordion>
        <accordion-group heading="Line View"><!--ngFor fill from array -->
          <app-table-teacher *ngFor="let day of days"
                             (formStateChanged)="test()"
                             [day]="day"
                             [slots]="slots"
                             [teacherNumber]="teacherNumber"
                             [timetable]="timetable"></app-table-teacher>
          <!--<app-table-teacher (formStateChanged)="test()"[day]="Tuesday" [teacherNumber]="teacherNumber"></app-table-teacher>
          <app-table-teacher [day]="Wednesday" [teacherNumber]="teacherNumber"></app-table-teacher>
          <app-table-teacher  [day]="Thursday" [teacherNumber]="teacherNumber"></app-table-teacher>
          <app-table-teacher [day]="Friday" [teacherNumber]="teacherNumber"></app-table-teacher>
          <app-table-teacher [day]="Saturday" [teacherNumber]="teacherNumber"></app-table-teacher>
          <app-table-teacher [day]="Sunday" [teacherNumber]="teacherNumber"></app-table-teacher>-->
        </accordion-group>
        <accordion-group heading="Table View">
          <div class="row">
            <div class="col-6">
              <app-table-teacher (formStateChanged)="test()" [slots]="slots" [day]="Monday"
                                 [teacherNumber]="teacherNumber" [timetable]="timetable"></app-table-teacher>
            </div>
            <div class="col-6">
              <app-table-teacher (formStateChanged)="test()" [slots]="slots" [day]="Tuesday"
                                 [teacherNumber]="teacherNumber" [timetable]="timetable"></app-table-teacher>
            </div>

          </div>
          <div class="row">
            <div class="col-6">
              <app-table-teacher (formStateChanged)="test()" [day]="Wednesday" [slots]="slots"
                                 [teacherNumber]="teacherNumber" [timetable]="timetable"></app-table-teacher>
            </div>
            <div class="col-6">
              <app-table-teacher (formStateChanged)="test()" [day]="Thursday" [slots]="slots"
                                 [teacherNumber]="teacherNumber" [timetable]="timetable"></app-table-teacher>
            </div>

          </div>
          <div class="row">

            <div class="col-6">
              <app-table-teacher (formStateChanged)="test()" [day]="Friday" [slots]="slots"
                                 [teacherNumber]="teacherNumber" [timetable]="timetable"></app-table-teacher>
            </div>
            <div class="col-6">
              <app-table-teacher (formStateChanged)="test()" [day]="Saturday" [slots]="slots"
                                 [teacherNumber]="teacherNumber" [timetable]="timetable"></app-table-teacher>
            </div>
          </div>
          <div class="row">

            <div class="col-6">
              <app-table-teacher (formStateChanged)="test()" [day]="Sunday" [slots]="slots"
                                 [teacherNumber]="teacherNumber" [timetable]="timetable"></app-table-teacher>
            </div>
          </div>
        </accordion-group>

      </accordion>


      <!--<app-table-teacher [day]="Monday" [teacherNumber]="teacherNumber"></app-table-teacher>
      <app-table-teacher [day]="Tuesday" [teacherNumber]="teacherNumber"></app-table-teacher>
      <app-table-teacher [day]="Wednesday" [teacherNumber]="teacherNumber"></app-table-teacher>
      <app-table-teacher [day]="Thursday" [teacherNumber]="teacherNumber"></app-table-teacher>
      <app-table-teacher [day]="Friday" [teacherNumber]="teacherNumber"></app-table-teacher>
      <app-table-teacher [day]="Saturday" [teacherNumber]="teacherNumber"></app-table-teacher>
      <app-table-teacher [day]="Sunday" [teacherNumber]="teacherNumber"></app-table-teacher>

          <div class="row">
            <div class="col-6"><app-table-teacher [day]="Monday" [teacherNumber]="teacherNumber"></app-table-teacher></div>
            <div class="col-6"><app-table-teacher [day]="Tuesday" [teacherNumber]="teacherNumber"></app-table-teacher></div>

          </div>
          <div class="row">
            <div class="col-6"><app-table-teacher [day]="Wednesday" [teacherNumber]="teacherNumber"></app-table-teacher></div>
            <div class="col-6"> <app-table-teacher [day]="Thursday" [teacherNumber]="teacherNumber"></app-table-teacher></div>

          </div>
          <div class="row">

            <div class="col-6"><app-table-teacher [day]="Friday" [teacherNumber]="teacherNumber"></app-table-teacher></div>
            <div class="col-6"><app-table-teacher [day]="Saturday" [teacherNumber]="teacherNumber"></app-table-teacher></div>
          </div>
          <div class="row">

            <div class="col-6"><app-table-teacher [day]="Sunday" [teacherNumber]="teacherNumber"></app-table-teacher></div>
          </div>-->

    </table>
  </div>
  <!--<app-go-back></app-go-back>-->
</main>

</body>



