<!--<ng4-loading-spinner> </ng4-loading-spinner>-->
<ng4-loading-spinner></ng4-loading-spinner>

<ul class="nav justify-content-end  bg-light">
  <li class="nav-item">
    <a class="nav-link active" href="#">Teacher's name</a>
  </li>
  <!--<li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>-->
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="/signin">Exit</a>
  </li>
</ul>
<h1 align="center">Group Number </h1>
<table class="table table-bordered table-striped">
  <thead>

  </thead>
  <tbody>
  <tr *ngFor="let groupContent of groupContent">
    <td scope="row">{{groupContent.id}}</td>
    <td>{{groupContent.name}}</td>
    <td>{{groupContent.surname}}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="_deletePupil(groupContent.id)">Delete</button>
    </td>
    <td>
      <button type="button" class="btn btn-secondary" (click)="_openModal(template, groupContent)">Edit</button>
    </td>

  </tr>


  </tbody>
</table>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Edit"}}</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>name</label>
      <input class="form-control" name="name" [(ngModel)]="editableGC.name" #name="ngModel" required/>
      <!--<div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username &lt;!&ndash;Easy way to create client validation&ndash;&gt;
      </div>-->
    </div>
    <div class="form-group">
      <label>surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableGC.surname" #surname="ngModel"
             required/>
      <!--<div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        surname is incorrect
      </div>-->
    </div>
    <div class="form-group">
      <label>group</label>
      <input class="form-control" name="groupId" [(ngModel)]="editableGC.groupId" #groupId="ngModel"
             required/>
      <!--<div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        surname is incorrect
      </div>-->
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Group">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addGroupContent(name, surname,groupId)"
            [disabled]="name.invalid || surname.invalid ">{{"Save"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>
