<!--<ng4-loading-spinner> </ng4-loading-spinner>-->
<ng4-loading-spinner></ng4-loading-spinner>
<body class="bg-light">
<!--<ul class="nav justify-content-end  bg-light">
  <li class="nav-item">
    <a class="nav-link active" href="#">Teacher's name</a>
  </li>
  &lt;!&ndash;<li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>&ndash;&gt;
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="/signin">Exit</a>
  </li>
</ul>-->
<!--<div>
  <h1 align="center">Group number : {{group}} </h1>
</div>-->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
        (click)="_openModalPupil(templatePupil)">
  Create pupil
</button>

<main class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th scope="col"><p class="text-info">Id</p></th>
        <th scope="col"><p class="text-info">Name</p></th>
        <th scope="col"><p class="text-info">Surname</p></th>
        <th scope="col"><p class="text-info">Delete</p></th>
        <th scope="col"><p class="text-info">Edit</p></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let groupContent of GroupContent">
        <td scope="row">{{groupContent.id}}</td>
        <td>{{groupContent.name}}</td>
        <td>{{groupContent.surname}}</td>
        <td>
          <!--<span><button type="button" class="btn btn-danger" (click)="_deletePupil(groupContent.id)">Delete</button>
         </span>-->
          <span><button type="button" class="btn btn-danger" (click)="_openModalConfirm(templateConfirm,groupContent)">Delete</button>
         </span></td>
        <td>
          <span><button type="button" class="btn btn-secondary"
                        (click)="_openModal(template, groupContent)">Edit</button>
        </span></td>

      </tr>


      </tbody>
    </table>
  </div>
  <!--<app-go-back></app-go-back>-->
</main>
</body>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Edit"}}</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>name</label>
      <input class="form-control" name="name" [(ngModel)]="editableGC.name" #name="ngModel" required
             pattern="[a-zA-Z]{3,}"/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set name
      </div>
    </div>
    <div class="form-group">
      <label>surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableGC.surname" #surname="ngModel"
             required pattern="[a-zA-Z]{3,}"/>
      <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        surname is incorrect
      </div>
    </div>

    <div class="form-group">

      <select class="form-control" id="exampleFormControlSelect14" [(ngModel)]="editableGC.groupId">
        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>

      </select>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addGroupContent(name, surname)"
            [disabled]="name.invalid || surname.invalid ">{{"Save"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>
<ng-template #templateConfirm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Do you really want to delete student </label>
      <div>
        <label>{{studentConfirmName}}{{" "}}{{studentConfirmSurname}}</label>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_deletePupil(studentConfirmId)"
            [disabled]="name.invalid || surname.invalid ">Yes
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">No</button>

  </div>
</ng-template>
<ng-template #templatePupil>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create "}} new Pupil</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="editableNewUser.name" #name="ngModel" required
             pattern="[a-zA-Z]{3,}"/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableNewUser.surname" #surname="ngModel" required
             pattern="[a-zA-Z]{3,}"/>
      <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        Pls set surname <!--Easy way to create client validation-->
      </div>
    </div>


    <div class="form-group">
      <label>login</label>
      <input class="form-control" name="login" [(ngModel)]="editableNewUser.login" #login="ngModel" required
             pattern="[a-zA-Z0-9]{3,}"/>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
        Pls set login <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control" name="password" [(ngModel)]="editableNewUser.password" #password="ngModel" required
             pattern="[a-zA-Z0-9]{3,}"/>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Pls set password <!--Easy way to create client validation-->
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addNewPupil(name,surname)"
    >{{"Create"}}
    </button>

    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
