<table class="table">
  <thead class="thead-dark">
  <tr>
    <th colspan="4" scope="col"> <div><p class="text-warning text-center" >{{day}}</p></div></th>
  </tr>
  <tr>
    <th scope="col"> Subject</th>
    <th scope="col"> Teacher</th>
    <th scope="col">Time</th>
    <th scope="col"><span><button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal"
                                  data-target="#exampleModal"
                                  (click)="_openModalTimetable(templateTimeTable)">
      Add
    </button></span></th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mon of timetable">
    <!--<th *ngIf="mon.day.includes(day)" scope="row"></th>-->
    <td *ngIf="mon.day.includes(day)" scope="row">{{mon.subject}}</td>
    <td *ngIf="mon.day.includes(day)" routerLink="/teacherinfo/{{mon.teacherId}}">{{mon.teacherName}} {{mon.teacherSurname}}
    </td>
    <td *ngIf="mon.day.includes(day)"> {{mon.time}}</td>
    <td *ngIf="mon.day.includes(day)">
      <span><button type="button" class="btn btn-danger"
                    (click)="_openModalConfirm(templateConfirm,mon)">Delete</button></span>
    </td>
  </tr>
  </tbody>
</table>


<ng-template #templateTimeTable >
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new lesson</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>

      <label>TIME</label>

      <div class="form-group">

        <select class="form-control"  [(ngModel)]="editableTimetable.slotId">
          <option *ngFor="let slot of slotsDist" [value]="slot.id">{{slot.startTime}} - {{slot.endTime }}</option>

        </select>
      </div>




      <label>SUBJECT</label>

      <div class="form-group">

        <select class="form-control"
                [(ngModel)]="chooseSubject"
        (change)="_checkForTeachers(chooseSubject)" >
          <option *ngFor="let subj of subjectsAll" [value]="subj.id">{{subj.subject}}</option>

        </select>
      </div>




      <!--<div>
        <button type="button" class="btn btn-default" (click)=""
        >{{"check for teachers"}}
        </button>
      </div>-->

      <div class="form-group">

        <select class="form-control"  [(ngModel)]="chooseTeachers">
          <option *ngFor="let chooseTeach of chooseTeachersName" [value]="chooseTeach.id">{{chooseTeach.name }}{{" "}}{{ chooseTeach.surname}}</option>

        </select>
      </div>



    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addTimeTable()"
    >{{"Create"}}
    </button>


    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
<ng-template #templateConfirm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Do you really want to delete  </label><div>
    </div>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_deleteTimetable(monConfirmId)"
            >Yes
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">No</button>

  </div>
</ng-template>
