<!--<ng4-loading-spinner> </ng4-loading-spinner>-->
<ng4-loading-spinner></ng4-loading-spinner>

<ul class="nav justify-content-end  bg-light">
  <li class="nav-item">
    <a class="nav-link active" href="#">Teacher's name</a>
  </li>
  <!--<li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>-->
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="/signin">Exit</a>
  </li>
</ul>
<h1 align="center">Group Number </h1>
<table class="table table-bordered table-striped">
  <thead>

  </thead>
  <tbody>
  <tr *ngFor="let sub of subject">
    <td scope="row">{{sub.subject}}</td>
    <td>
      <span><button type="button" class="btn btn-danger" (click)="_deleteSubject(sub.id)">Delete</button>
      </span></td>


  </tr>


  </tbody>
</table>
<app-go-back></app-go-back>

