<ul class="nav justify-content-end  bg-light">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/pupil">Pupil's name</a>
  </li>
  <!--<li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>-->
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="/signin">Exit</a>
  </li>
</ul>
<table class="table">
  <app-table [day]="Monday"></app-table>
  <app-table [day]="Tuesday"></app-table>
  <app-table [day]="Wednesday"></app-table>
  <app-table [day]="Thursday"></app-table>
  <app-table [day]="Friday"></app-table>
  <app-table [day]="Saturday"></app-table>
  <app-table [day]="Sunday"></app-table>

  <!--<thead class="thead-dark">
  <tr >
    <th colspan="4" scope="col">Monday</th>

  </tr>
  </thead>

  <tr *ngFor="let mon of timetable">
    &lt;!&ndash;<td width="10%">{{mon.number}}</td>&ndash;&gt;
    <td *ngIf="mon.day.includes('Monday')" >{{mon.subject}}</td>
    <td *ngIf="mon.day.includes('Monday')"><span routerLink="/teacherinfo/{{mon.teacherId}}">{{mon.teacherName}} {{mon.teacherSurname}}</span></td>
    <td *ngIf="mon.day.includes('Monday')"> {{mon.time}}</td>
  </tr>


  <thead class="thead-dark">
  <tr>
    <th colspan="4"  scope="col">Tuesday</th>

  </tr>
  </thead>

  <tr *ngFor="let tue of timetable">
    &lt;!&ndash;<td width="10%">{{mon.number}}</td>&ndash;&gt;
    <td *ngIf="tue.day.includes('Tuesday')" ><span routerLink="/teacherinfo">{{tue.subject}}</span></td>
    <td *ngIf="tue.day.includes('Tuesday')"><span routerLink="/teacherinfo">{{tue.teacherName}} {{tue.teacherSurname}}</span></td>
    <td *ngIf="tue.day.includes('Tuesday')"> {{tue.time}}</td>
  </tr>

  <thead class="thead-dark">
  <tr>
    <th colspan="4" scope="col">Wednesday</th>

  </tr>
  </thead>

  <tr *ngFor="let wed of timetable">
    &lt;!&ndash;<td width="10%">{{mon.number}}</td>&ndash;&gt;
    <td *ngIf="wed.day.includes('Wednesday')" ><span routerLink="/teacherinfo">{{wed.subject}}</span></td>
    <td *ngIf="wed.day.includes('Wednesday')"><span routerLink="/teacherinfo">{{wed.teacherName}} {{wed.teacherSurname}}</span></td>
    <td *ngIf="wed.day.includes('Wednesday')"> {{wed.time}}</td>
  </tr>

  <thead class="thead-dark">
  <tr>
    <th colspan="4" scope="col">Thursday</th>

  </tr>
  </thead>

  <tr *ngFor="let thu of timetable">
    &lt;!&ndash;<td width="10%">{{mon.number}}</td>&ndash;&gt;
    <td *ngIf="thu.day.includes('Thursday')" ><span routerLink="/teacherinfo">{{thu.subject}}</span></td>
    <td *ngIf="thu.day.includes('Thursday')"><span routerLink="/teacherinfo">{{thu.teacherName}} {{thu.teacherSurname}}</span></td>
    <td *ngIf="thu.day.includes('Thursday')"> {{thu.time}}</td>
  </tr>

  <thead class="thead-dark">
  <tr>
    <th colspan="4" scope="col">Friday</th>

  </tr>
  </thead>

  <tr *ngFor="let fri of timetable">
    &lt;!&ndash;<td width="10%">{{mon.number}}</td>&ndash;&gt;
    <td *ngIf="fri.day.includes('Friday')" ><span routerLink="/teacherinfo">{{fri.subject}}</span></td>
    <td *ngIf="fri.day.includes('Friday')"><span routerLink="/teacherinfo">{{fri.teacherName}} {{fri.teacherSurname}}</span></td>
    <td *ngIf="fri.day.includes('Friday')"> {{fri.time}}</td>
  </tr>

  <thead class="thead-dark">
  <tr>
    <th colspan="4" scope="col">Saturday</th>

  </tr>
  </thead>

  <tr *ngFor="let sat of timetable">
    &lt;!&ndash;<td width="10%">{{mon.number}}</td>&ndash;&gt;
    <td *ngIf="sat.day.includes('Saturday')" ><span routerLink="/teacherinfo">{{sat.subject}}</span></td>
    <td *ngIf="sat.day.includes('Saturday')"><span routerLink="/teacherinfo">{{sat.teacherName}} {{sat.teacherSurname}}</span></td>
    <td *ngIf="sat.day.includes('Saturday')"> {{sat.time}}</td>
  </tr>

  <thead class="thead-dark">
  <tr>
    <th colspan="4" scope="col">Sunday</th>

  </tr>
  </thead>

  <tr *ngFor="let sun of timetable">
    &lt;!&ndash;<td width="10%">{{mon.number}}</td>&ndash;&gt;
    <td *ngIf="sun.day.includes('Sunday')" ><span routerLink="/teacherinfo">{{sun.subject}}</span></td>
    <td *ngIf="sun.day.includes('Sunday')"><span routerLink="/teacherinfo">{{sun.teacherName}} {{sun.teacherSurname}}</span></td>
    <td *ngIf="sun.day.includes('Sunday')"> {{sun.time}}</td>
  </tr>
-->

</table>
<app-go-back></app-go-back>



