<!--<ng4-loading-spinner> </ng4-loading-spinner>-->
<ng4-loading-spinner></ng4-loading-spinner>
<body class="bg-light">
<!--<ul class="nav justify-content-end  bg-light">
  <li class="nav-item">
    <a class="nav-link active" href="#">Teacher's name</a>
  </li>
  &lt;!&ndash;<li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>&ndash;&gt;
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="/signin">Exit</a>
  </li>
</ul>-->
<div>
<h1 align="center">Teachers </h1>
</div>
<main class="container-fluid">

  <div class="my-1 p-1 bg-white rounded shadow-sm">

<table class="table table-bordered table-striped" >
  <thead>

  </thead>
  <tbody>
  <tr *ngFor="let content of returnedArray">
    <td width="95%">
    <accordion >
      <accordion-group  heading="{{content.name}} {{content.surname}}">
        <app-timetable-info-teacher [teacherNumber]="content.id"></app-timetable-info-teacher>
      </accordion-group>

    </accordion></td>
    <!--<td scope="row" routerLink="/timetable-info-teacher/{{teacher.id}}">
      <p class="lead text-center" >{{teacher.name}} {{teacher.surname}}</p>
    </td>-->
    <td>
      <span><button type="button" class="btn btn-danger" (click)="_deleteTeacher(content.id)">Delete</button>
      </span>
    </td>


  </tr>


  </tbody>
</table>
    <pagination [totalItems]="teachers.length" (pageChanged)="pageChanged($event)"></pagination>

  </div>
  <!--<app-go-back></app-go-back>-->
</main>

</body>


