<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
    </a>

    <a class=" py-2 d-none d-md-inline-block" (click)="first()"
       [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Groups</a>
    <a class="py-2 d-none d-md-inline-block" (click)="second()"
       [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic1">Teachers</a>
    <a class="py-2 d-none d-md-inline-block" (click)="third()"
       [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic1">Groups Timetable</a>
    <a class="py-2 d-none d-md-inline-block" (click)="fourth()"
       [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic1">Subjects</a>
    <!--<a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>-->
  </div>
</nav>
<!--<button type="button" class="btn btn-primary py-2 d-none d-md-inline-block" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Groups
</button>
<button type="button" class="btn btn-primary py-2 d-none d-md-inline-block" (click)="isCollapsed1 = !isCollapsed1"
        [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic1">Teachers
</button>
<button type="button" class="btn btn-primary py-2 d-none d-md-inline-block" (click)="isCollapsed2 = !isCollapsed2"
        [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic1">Groups Timetable
</button>
<button type="button" class="btn btn-primary py-2 d-none d-md-inline-block" (click)="isCollapsed3 = !isCollapsed3"
        [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic1">Subjects
</button>-->


<div id="collapseBasic" [collapse]="isCollapsed" class="card card-block card-header">
  <div class="well well-lg">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
            (click)="_openModal(template)">
      Create group
    </button>
    <app-group ></app-group>
  </div>
</div>
<div id="collapseBasic1" [collapse]="isCollapsed1" class="card card-block card-header">
  <div class="well well-lg">
    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
            data-target="#exampleModal"
            (click)="_openModalTeacher(templateTeacher)">
      Create Teacher
    </button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"
            (click)="_openModalSubjectTeacher(templateSubjectTeacher)">
      Add subject to teacher
    </button>

    <app-teachers></app-teachers>
  </div>


</div>
<div id="collapseBasic2" [collapse]="isCollapsed2" class="card card-block card-header">
  <div class="well well-lg">
    <app-group [timetable]="true"></app-group>
  </div>
</div>
<div id="collapseBasic3" [collapse]="isCollapsed3" class="card card-block card-header">
  <div class="well well-lg">
    <app-subjects></app-subjects>
  </div>
</div>



<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-10 text-center">
        <a class="blog-header-logo text-dark" href="#">Admin</a>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">

        <a class="btn btn-sm btn-outline-secondary" routerLink="/signin">Exit</a>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModal(template)">
        Create group
      </button>

    </div>
    <div class="col-6">
    <span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  routerLink="/group">
      All Groups
    </button></span>
    </div>
  </div>

  <div><h1></h1></div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalPupil(templatePupil)">
        Create pupil
      </button>
    </div>
  </div>


  <div><h1></h1></div>
  <div class="row">
    <div class="col-4 ">
      <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
              data-target="#exampleModal"
              (click)="_openModalTeacher(templateTeacher)">
        Create Teacher
      </button>

    </div>

    <div class="col-4">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalSubjectTeacher(templateSubjectTeacher)">
        Add subject to teacher
      </button>
    </div>
    <div class="col-4 ">
    <span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  routerLink="/teachers">
      All Teachers
    </button></span>
    </div>
  </div>

  <div><h1></h1></div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalSubject(templateSubject)">
        Create subject
      </button>
    </div>
    <div class="col-6">
    <span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  routerLink="/subject">
      All Subjects
    </button></span></div>
  </div>

  <div><h1></h1></div>
  <div class="row">
    <div class="col-6">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
            (click)="_openModalTimetable(templateTimeTable)">
      Add point in timetable
    </button></div>
      <div class="col-6">
    <span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  routerLink="/timetable">
      Show TimeTable
    </button></span></div>

  </div>

</div>



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Group</label>
      <input type="number" class="form-control" id="extra7" placeholder="8 character only" [(ngModel)]="editableGroup.name" #name="ngModel"
             required pattern="\d [0-9]{2,8}"/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        8 numbers pls <!--Easy way to create client validation-->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addGroup(name)"
    >{{"Create"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

<ng-template #templateSubject>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Subject</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Subject</label>
      <input class="form-control" name="name" [(ngModel)]="editableSubject.subject" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set subject <!--Easy way to create client validation-->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addSubject(name)"
    >{{"Create"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

<ng-template #templatePupil>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create "}} new Pupil</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="editableNewUser.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableNewUser.surname" #surname="ngModel" required/>
      <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        Pls set surname <!--Easy way to create client validation-->
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Group</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="editableNewUser.groupId">
        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>

      </select>
    </div>




    <div class="form-group">
      <label>login</label>
      <input class="form-control" name="login" [(ngModel)]="editableNewUser.login" #login="ngModel" required/>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
        Pls set login <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control" name="password" [(ngModel)]="editableNewUser.password" #password="ngModel" required/>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Pls set password <!--Easy way to create client validation-->
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addNewPupil(name,surname)"
    >{{"Create"}}
    </button>

    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #templateTeacher>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create "}} new Teacher</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="editableNewUser.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableNewUser.surname" #surname="ngModel" required/>
      <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        Pls set surname <!--Easy way to create client validation-->
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Subject</label>
      <select class="form-control" id="exampleFormControlSelect11" [(ngModel)]="editableNewUser.subjectId">
        <option *ngFor="let subj of subjectsAll" [value]="subj.id">{{subj.subject}}</option>

      </select>
    </div>






    <div class="form-group">
      <label>login</label>
      <input class="form-control" name="login" [(ngModel)]="editableNewUser.login" #login="ngModel" required/>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
        Pls set login <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control" name="password" [(ngModel)]="editableNewUser.password" #password="ngModel" required/>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Pls set password <!--Easy way to create client validation-->
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addNewTeacher(name,surname)"
    >{{"Create"}}
    </button>

    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
<ng-template #templateTimeTable>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new lesson</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label>GROUP NUMBER</label>

      <div class="form-group">

        <select class="form-control" id="exampleFormControlSelect14" [(ngModel)]="editableTimetable.groupId">
          <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>

        </select>
      </div>



      <label>TIME</label>

      <div class="form-group">

        <select class="form-control" [(ngModel)]="editableTimetable.slotId">
          <option *ngFor="let slot of slots" [value]="slot.id">{{slot.startTime}} - {{slot.endTime }}</option>

        </select>
      </div>


      <label>DAY OF WEEK</label>

      <div class="form-group">

        <select class="form-control"  [(ngModel)]="editableTimetable.dayOfWeekId">
          <option *ngFor="let day of daysOfWeek" [value]="day.id">{{day.name}}</option>

        </select>
      </div>



      <label>SUBJECT</label>

      <div class="form-group">

        <select class="form-control"  [(ngModel)]="chooseSubject">
          <option *ngFor="let subj of subjectsAll" [value]="subj.id">{{subj.subject}}</option>

        </select>
      </div>



      <div>
        <button type="button" class="btn btn-default" (click)="_checkForTeachers(chooseSubject)"
        >{{"check for teachers"}}
        </button>
      </div>

      <div class="form-group">

        <select class="form-control"  [(ngModel)]="chooseTeachers">
          <option *ngFor="let chooseTeach of chooseTeachersName" [value]="chooseTeach.id">{{chooseTeach.name }}{{" "}}{{ chooseTeach.surname}}</option>

        </select>
      </div>




    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addTimeTable()"
    >{{"Create"}}
    </button>


    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #templateSubjectTeacher>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Teacher</label>

    <div class="form-group">

      <select class="form-control" id="exampleFormControlSelect12" [(ngModel)]="editableSubjectTeacher.teacherId">
        <option *ngFor="let Teach of teachersAll" [value]="Teach.id">{{Teach.name }}{{" "}}{{ Teach.surname}}</option>

      </select>
    </div>



    <label>Subject</label>


    <div class="form-group">

      <select class="form-control" id="exampleFormControlSelect13" [(ngModel)]="editableSubjectTeacher.subjectId">
        <option *ngFor="let sub of subjectsAll" [value]="sub.id">{{sub.subject}}</option>

      </select>
    </div>




  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addSubjectTeacher()"
    >{{"Add"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


