<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-10 text-center">
        <a class="blog-header-logo text-dark" href="#">Admin</a>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">

        <a class="btn btn-sm btn-outline-secondary" routerLink="/signin">Exit</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModal(template)">
        Create group
      </button>
      <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalPupil(templatePupil)">
        Create pupil
      </button>
      <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalTeacher(templateTeacher)">
        Create Teacher
      </button>
      <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
              routerLink="/group">
        All Groups
      </button>


      <a class="p-2 text-muted" href="#">Search Teacher</a>

    </nav>

  </div>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalTimetable(templateTimeTable)">
        Add point in timetable
      </button>
      <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
              routerLink="/timetable">
        Show TimeTable
      </button>

    </nav>

  </div>

</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Group</label>
      <input class="form-control" name="name" [(ngModel)]="editableGroup.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username <!--Easy way to create client validation-->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addGroup(name)"
    >{{"Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

<ng-template #templatePupil>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create "}} new Pupil</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="editableNewUser.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableNewUser.surname" #surname="ngModel" required/>
      <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        Pls set surname <!--Easy way to create client validation-->
      </div>
    </div>
    <!--<div class="form-group">
      <label>Group</label>
      <input class="form-control" name="group" [(ngModel)]="editablePupil.groupId" #group="ngModel" required/>
      <div [hidden]="group.valid || group.untouched" class="alert alert-danger">
        Pls set group &lt;!&ndash;Easy way to create client validation&ndash;&gt;
      </div>

    </div>-->
    <!--<div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary"  id="dropdownBasic1" ngbDropdownToggle>group</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  [(ngModel)]="editableNewUser.groupId">
          <button class="dropdown-item" *ngFor="let group of groups"  [value]="group.id" >{{group.name}}</button>

        </div>

      </div>
    </div>-->
    <div>
      <mat-radio-group id="dm11" class="example-radio-group" [(ngModel)]="editableNewUser.groupId">
        <mat-radio-button class="example-radio-button" name="groupId" *ngFor="let group of groups"
                          [value]="group.id">
          {{group.name}}
        </mat-radio-button>

      </mat-radio-group>

    </div>
    <!--<div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        group
        <span class="caret"></span>
      </button>
      <ul id="dropselect-demo1" class="dropdown-menu">
        <li data-value="action_value">
          <a role="menuitem" *ngFor="let group of groups" >{{group.name}}</a>
        </li>

      </ul>
    </div>-->


    <div class="form-group">
      <label>login</label>
      <input class="form-control" name="login" [(ngModel)]="editableNewUser.login" #login="ngModel" required/>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
        Pls set login <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control" name="password" [(ngModel)]="editableNewUser.password" #password="ngModel" required/>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Pls set password <!--Easy way to create client validation-->
      </div>
    </div>
    <div>
      <mat-radio-group id="dm1" class="example-radio-group" [(ngModel)]="editableNewUser.roleId">
        <mat-radio-button class="example-radio-button" name="roleId" *ngFor="let role of roles"
                          [value]="role.id">
          {{role.name}}
        </mat-radio-button>

      </mat-radio-group>

    </div>
    <!--<div>
      <mat-form-field>
        <mat-select placeholder="Group">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addNewPupil(name,surname)"
    >{{"Create"}}
    </button>

    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #templateTeacher>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create "}} new Teacher</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="editableNewUser.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableNewUser.surname" #surname="ngModel" required/>
      <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        Pls set surname <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>Subject</label>
      <input class="form-control" name="subject" [(ngModel)]="editableNewUser.subject" #subject="ngModel" required/>
      <div [hidden]="subject.valid || subject.untouched" class="alert alert-danger">
        Pls set subject <!--Easy way to create client validation-->
      </div>
    </div>

    <div class="form-group">
      <label>login</label>
      <input class="form-control" name="login" [(ngModel)]="editableNewUser.login" #login="ngModel" required/>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
        Pls set login <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control" name="password" [(ngModel)]="editableNewUser.password" #password="ngModel" required/>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Pls set password <!--Easy way to create client validation-->
      </div>
    </div>
    <div>
      <mat-radio-group class="example-radio-group" [(ngModel)]="editableNewUser.roleId">
        <mat-radio-button class="example-radio-button" name="roleId" *ngFor="let role of roles"
                          [value]="role.id">
          {{role.name}}
        </mat-radio-button>

      </mat-radio-group>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addNewTeacher(name,surname)"
    >{{"Create"}}
    </button>

    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
<ng-template #templateTimeTable>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new lesson</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label>GROUP NUMBER</label>
      <div>
        <mat-radio-group class="example-radio-group" [(ngModel)]="editableTimetable.groupId">
          <mat-radio-button class="example-radio-button" name="groupId" *ngFor="let group of groups"
                            [value]="group.id">
            {{group.name}}
          </mat-radio-button>

        </mat-radio-group>
      </div>
      <label>TIME</label>
      <div>
        <mat-radio-group class="example-radio-group" [(ngModel)]="editableTimetable.slotId">
          <mat-radio-button class="example-radio-button" name="slotId" *ngFor="let slot of slots"
                            [value]="slot.id">
            {{slot.startTime}} - {{slot.endTime }}
          </mat-radio-button>

        </mat-radio-group>
      </div>
      <label>DAY OF WEEK</label>
      <div>
        <mat-radio-group class="example-radio-group" [(ngModel)]="editableTimetable.dayOfWeekId">
          <mat-radio-button class="example-radio-button" name="dayOfWeekId" *ngFor="let day of daysOfWeek"
                            [value]="day.id">
            {{day.name}}{{" "}}
          </mat-radio-button>

        </mat-radio-group>
      </div>
      <label>SUBJECT</label>
      <div>
        <mat-radio-group class="example-radio-group" [(ngModel)]="chooseSubject">
          <mat-radio-button class="example-radio-button"  name="subjectId" *ngFor="let subject of subjects"
                            [value]="subject.subject">
            {{subject.subject}}{{" "}}
          </mat-radio-button>
          {{chooseSubject}}
        </mat-radio-group>

      </div>
      <div>
        <button type="button" class="btn btn-default" (click)="_checkForTeachers(chooseSubject)"
        >{{"check for teachers"}}
        </button>
      </div>
      <div>
        <mat-radio-group class="example-radio-group" [(ngModel)]="chooseTeachers">
          <mat-radio-button class="example-radio-button" name="groupId" *ngFor="let chooseTeach of chooseTeachersName"
                            [value]="chooseTeach.id">
            {{chooseTeach.name }}{{" "}}{{  chooseTeach.surname}}
          </mat-radio-button>
          {{chooseTeachers}}
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addTimeTable()"
    >{{"Create"}}
    </button>


    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
