<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-10 text-center">
        <a class="blog-header-logo text-dark" href="#">Admin</a>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">

        <a class="btn btn-sm btn-outline-secondary" routerLink="/signin">Exit</a>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModal(template)">
        Create group
      </button>
    </div>
    <div class="col-6">
    <span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  routerLink="/group">
      All Groups
    </button></span>
    </div>
  </div>

  <div><h1></h1></div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalPupil(templatePupil)">
        Create pupil
      </button>
    </div>
  </div>


  <div><h1></h1></div>
  <div class="row">
    <div class="col-4 ">
      <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
              data-target="#exampleModal"
              (click)="_openModalTeacher(templateTeacher)">
        Create Teacher
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalSubjectTeacher(templateSubjectTeacher)">
        Add subject to teacher
      </button>
    </div>
    <div class="col-4 ">
    <span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  routerLink="/teachers">
      All Teachers
    </button></span>
    </div>
  </div>

  <div><h1></h1></div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModalSubject(templateSubject)">
        Create subject
      </button>
    </div>
    <div class="col-6">
    <span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  routerLink="/subject">
      All Subjects
    </button></span></div>
  </div>

  <div><h1></h1></div>
  <div class="row">
    <div class="col-6">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
            (click)="_openModalTimetable(templateTimeTable)">
      Add point in timetable
    </button></div>
      <div class="col-6">
    <span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  routerLink="/timetable">
      Show TimeTable
    </button></span></div>

  </div>

</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Group</label>
      <input type="number" class="form-control" id="extra7" maxlength="10" min="0" max="9999999" placeholder="8 character only" onkeypress="return isNumber(event)" name="extra7" [(ngModel)]="editableGroup.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set group <!--Easy way to create client validation-->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addGroup(name)"
    >{{"Create"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

<ng-template #templateSubject>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Subject</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Subject</label>
      <input class="form-control" name="name" [(ngModel)]="editableSubject.subject" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set subject <!--Easy way to create client validation-->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addSubject(name)"
    >{{"Create"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

<ng-template #templatePupil>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create "}} new Pupil</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="editableNewUser.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableNewUser.surname" #surname="ngModel" required/>
      <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        Pls set surname <!--Easy way to create client validation-->
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Group</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="editableNewUser.groupId">
        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>

      </select>
    </div>




    <div class="form-group">
      <label>login</label>
      <input class="form-control" name="login" [(ngModel)]="editableNewUser.login" #login="ngModel" required/>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
        Pls set login <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control" name="password" [(ngModel)]="editableNewUser.password" #password="ngModel" required/>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Pls set password <!--Easy way to create client validation-->
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addNewPupil(name,surname)"
    >{{"Create"}}
    </button>

    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #templateTeacher>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create "}} new Teacher</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="editableNewUser.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set username <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input class="form-control" name="surname" [(ngModel)]="editableNewUser.surname" #surname="ngModel" required/>
      <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
        Pls set surname <!--Easy way to create client validation-->
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Subject</label>
      <select class="form-control" id="exampleFormControlSelect11" [(ngModel)]="editableNewUser.subjectId">
        <option *ngFor="let subj of subjectsAll" [value]="subj.id">{{subj.subject}}</option>

      </select>
    </div>






    <div class="form-group">
      <label>login</label>
      <input class="form-control" name="login" [(ngModel)]="editableNewUser.login" #login="ngModel" required/>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
        Pls set login <!--Easy way to create client validation-->
      </div>
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control" name="password" [(ngModel)]="editableNewUser.password" #password="ngModel" required/>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Pls set password <!--Easy way to create client validation-->
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addNewTeacher(name,surname)"
    >{{"Create"}}
    </button>

    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
<ng-template #templateTimeTable>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new lesson</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label>GROUP NUMBER</label>

      <div class="form-group">

        <select class="form-control" id="exampleFormControlSelect14" [(ngModel)]="editableTimetable.groupId">
          <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>

        </select>
      </div>



      <label>TIME</label>

      <div class="form-group">

        <select class="form-control" [(ngModel)]="editableTimetable.slotId">
          <option *ngFor="let slot of slots" [value]="slot.id">{{slot.startTime}} - {{slot.endTime }}</option>

        </select>
      </div>


      <label>DAY OF WEEK</label>

      <div class="form-group">

        <select class="form-control"  [(ngModel)]="editableTimetable.dayOfWeekId">
          <option *ngFor="let day of daysOfWeek" [value]="day.id">{{day.name}}</option>

        </select>
      </div>



      <label>SUBJECT</label>

      <div class="form-group">

        <select class="form-control"  [(ngModel)]="chooseSubject">
          <option *ngFor="let subj of subjectsAll" [value]="subj.id">{{subj.subject}}</option>

        </select>
      </div>



      <div>
        <button type="button" class="btn btn-default" (click)="_checkForTeachers(chooseSubject)"
        >{{"check for teachers"}}
        </button>
      </div>

      <div class="form-group">

        <select class="form-control"  [(ngModel)]="chooseTeachers">
          <option *ngFor="let chooseTeach of chooseTeachersName" [value]="chooseTeach.id">{{chooseTeach.name }}{{" "}}{{ chooseTeach.surname}}</option>

        </select>
      </div>




    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addTimeTable()"
    >{{"Create"}}
    </button>


    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #templateSubjectTeacher>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Teacher</label>

    <div class="form-group">

      <select class="form-control" id="exampleFormControlSelect12" [(ngModel)]="editableSubjectTeacher.teacherId">
        <option *ngFor="let Teach of teachersAll" [value]="Teach.id">{{Teach.name }}{{" "}}{{ Teach.surname}}</option>

      </select>
    </div>



    <label>Subject</label>


    <div class="form-group">

      <select class="form-control" id="exampleFormControlSelect13" [(ngModel)]="editableSubjectTeacher.subjectId">
        <option *ngFor="let sub of subjectsAll" [value]="sub.id">{{sub.subject}}</option>

      </select>
    </div>




  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addSubjectTeacher()"
    >{{"Add"}}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ( charCode < 48 && charCode > 57) {
      return false;
    }
    return true;
  }
</script>
