span{
  float: right;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
/*
.mat-option{

  z-index: 999999999999999999999999999999999999999999999999999999 !important;

}
.mat-form-field{
  z-index: 99999999999999999999999999 !important;
}
*/
.form-control { width: 300px; }
