<table class="table">
  <thead class="thead-dark">
  <tr>
    <th >{{day}}</th>
    <th scope="col"> Subject</th>
    <th scope="col">Group</th>
    <th scope="col">Time</th>
    <th scope="col"><span><button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal"
                                  data-target="#exampleModal"
                                  (click)="_openModalTimetable(templateTimeTable)">
      Add
    </button></span></th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mon of timetable">
    <th *ngIf="mon.day.includes(day)" scope="row"></th>
    <td *ngIf="mon.day.includes(day)">{{mon.subject}}</td>

    <td *ngIf="mon.day.includes(day)">{{mon.group}}</td>

    <td *ngIf="mon.day.includes(day)"> {{mon.time}}</td>

    <td *ngIf="mon.day.includes(day)">
      <span><button type="button" class="btn btn-danger"
                    (click)="_deleteTimetable(mon.timetableId)">Delete</button></span>
    </td>

  </tr>
  </tbody>
</table>


<ng-template #templateTimeTable>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new lesson</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label>TIME</label>
      <div>
        <mat-radio-group class="example-radio-group" [(ngModel)]="editableTimetable.slotId">
          <mat-radio-button class="example-radio-button" name="slotId" *ngFor="let slot of slots"
                            [value]="slot.id">
            {{slot.startTime}} - {{slot.endTime }}
          </mat-radio-button>

        </mat-radio-group>
      </div>
      <label>Group</label>
      <div>
        <mat-radio-group id="dm11" class="example-radio-group" [(ngModel)]="editableTimetable.groupId">
          <mat-radio-button class="example-radio-button" name="groupId" *ngFor="let group of groups"
                            [value]="group.id">
            {{group.name}}
          </mat-radio-button>

        </mat-radio-group>

      </div>

      <label>SUBJECT</label>
      <div>
        <mat-radio-group class="example-radio-group" [(ngModel)]="chooseSubject">
          <mat-radio-button class="example-radio-button" name="roleId" *ngFor="let subj of subjects"
                            [value]="subj.id">
            {{subj.subject}}
          </mat-radio-button>

        </mat-radio-group>

      </div>


    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addTimeTable()"
    >{{"Create"}}
    </button>


    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
